@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html {
  @apply font-roboto font-light;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input::placeholder {
  @apply text-black/60
}

textarea::placeholder {
  @apply text-black/60
}

/* button styles */

.btn {
  @apply flex items-center justify-center gap-4
}

.btn-submit {
  @apply px-8 py-3 bg-coral-main rounded-xl
  text-white
}

.btn-icon {
  @apply text-2xl text-black px-4 cursor-pointer
  rounded-full px-3 py-3
}

.react-multi-carousel-list.custom-list {
  @apply overflow-hidden md:mx-10
}

.react-multi-carousel-list.custom-list > ul > li > button {
  @apply w-2 h-2 mx-2
}

.react-multi-carousel-dot-list.custom-dot-list-service button {
  @apply border-none bg-blue-light
}

.react-multi-carousel-dot-list.custom-dot-list-feedback button {
  @apply border-none bg-white
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button{
  @apply bg-blue-dark
}